* {
    letter-spacing: 1px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*
Hearder
*/

header {
    background-size: cover;
}

h1 {
    color: #9ed7e2;
    font-size: 40px;
    text-align: center;
}

ul {
    position: fixed;
    top: 100px;
    left: -40px;
}

ul>li {
    padding: 20px;
    width: 200px;
    list-style: none;
    background-color: #fff1df;
    border: 2px solid white;
    color: #626262;
}

a {
    text-decoration: none;
    color: #626262;
}

li:hover {
    background-color: #ddcbb3;
    color: black;
}

li:hover>ul {
    display: block;
}

li {
    position: relative;
}

li>ul {
    position: absolute;
    left: 157px;
    top: -2px;
    display: none;
}

li>ul>li {
    width: 100px;
    list-style: none;
    background-color: #fff1df;
    border: 2px solid white;
    color: #626262;
}


/*
引文設定
*/

blockquote {
    background-image: url(../images/quotes-symbol_318-40241.jpg);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0px 0px;
    line-height: 1.5;
}


/*
縮圖區塊設定
*/

.thumbnail {
    width: calc(33.33% - 20px);
    float: left;
    margin: 10px;
}

#subtitle {
    color: rgb(196, 196, 196);
    font-size: 30px;
    text-decoration: overline;
}

.thumbnail-img {
    width: 100%;
}

.caption-title {
    color: #ed9191;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.caption-body {
    color: #646464;
    line-height: 1.5;
}

.caption-btn {
    text-decoration: none;
    font-size: 14px;
    display: block;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}

.caption-btn:link {
    color: #ed9191;
    font-family: sans-serif;
    font-weight: 400;
    border: 2px solid #ed9191;
}

.caption-btn:visited {
    color: #ed9191;
    font-family: sans-serif;
    font-weight: 100;
    border: 2px solid #ed9191;
}

.caption-btn:hover {
    color: #ed9191;
    font-family: sans-serif;
    font-weight: 100;
    border: px solid #ed9191;
    background-color: #ffe8e8;
}

.caption-ntn:active {
    color: #ed9191;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    border: 2px solid #ed9191;
    background-color: #ffe8e8;
}
